logs
target
.idea
.idea_modules
.classpath
.project
.settings
/RUNNING_PID

app/assets/js/node_modules
public/javascripts
public/stylesheets
project/target
project/project
activator-launch-1.3.2.jar
.DS_Store
*.rdb

*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/


# Scala-IDE specific
.scala_dependencies
.worksheet


lib/