@text-colour: #878787;
@subtext-colour: #b4b4b4;
@blue: #0b97c2;

/* Variables used for panels, lists etc. */
@panel-background: #FFFFFF;
@panel-secondary-background: #FBFBFB;
@panel-border: 1px solid #E9E9E9;
@panel-shadow: 0 2px 4px 0 rgba(0,0,0,0.08);

body {
  color: @text-colour;
  padding-top: 30px;
}

.padded-top-header {
  padding-top: 25px;
}

h1, h2, h3, h4, h5, h6 {
  color: @text-colour;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

p {
  padding: 4px;
}

.splash-text {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  color: @text-colour;
  font-size: 32px;
  margin-top: 170px;
}

.hashtag {
  font-family: "Roboto Mono", "Consolas", "Lucida Console", "Courier New", monospace;
  color: @blue;
  font-weight: bold;
}

.classify-buttons-flex {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.view-on-twitter-button-flex {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  align-items: center;
  -webkit-align-items: center;
}


.query-text {
  color: @blue;
}

/* Recommendation page and component styles */

.recommendations {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  .panel;

  .recommendation-tile {
    width: 100%;
    height: 100px;
    display: flex;

    .recommendation-body {
      padding: 10px;
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      justify-content: space-between;
      flex: 1 1 auto;
      font-size: 1.2em;

      .recommendation-topline {
        display: flex;
        width: 100%;
        justify-content: space-between;

        .recommendation-username {
          color: @blue;
          text-overflow: ellipsis;
        }

      }

      .recommendation-bottomline {
        display: flex;
        width: 100%;
        justify-content: space-between;
        font-size: 1.7em;
        font-family: Roboto, Helvetica, sans-serif;
      }

    }

    &:not(:first-child) {
      border-top: @panel-border;
    }

  }

}

.panel {
  background: @panel-background;
  border: @panel-border;
  box-shadow: @panel-shadow;
}

/* ScrollingList component styles */

.scrolling-list {

  width: 100%;
  .panel;

  .scrolling-list-item {

    display: flex;
    justify-content: space-between;
    padding: 10px;

    .scrolling-list-item-text {
      .query-text;
    }

    .scrolling-list-item-subtext {
      color: @text-colour;
    }

  }

  .scrolling-list-item:nth-child(even) {
    background-color: @panel-secondary-background;
  }

  .scrolling-list-item:not(:first-child) {
    border-top: @panel-border;
  }
}


/* User preview pane component styles */
.user-preview-pane {
  display: flex;
  flex-flow: column nowrap;
  padding: 0;
  margin: 0;

  .panel;

  .user-cover-photo {
    display: flex;
    align-items: flex-end;
    margin: 0;
    padding: 5px;
    height: 230px;

    .user-profile-image {
      border: 2px solid #FFFFFF;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    }

    .user-cover-names {
      padding: 10px;
      color: #FFFFFF;
      font-size: 24px;
      text-shadow: 0 1px 3px #000000;

      .user-profile-name {
        font-size: 24px;
        font-weight: bold;
      }

      .user-profile-screenname {
        font-size: 18px;
      }

    }

    .user-profile-button {
      margin-left: auto;
    }

  }

  .user-preview-features {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    padding: 10px;

    .panel;
    box-shadow: none;
    border-left: 0;
    border-right: 0;

    .user-preview-feature-item {
      padding: 4px;
    }
  }

  .user-preview-body {
    padding: 10px;

    .user-preview-body-header {
      display: flex;
      justify-content: space-between;
    }

    .relevance-checkbox-wrapper {
      margin-left: auto;
    }

  }

}

/* Tweet component styles */
.tweet-list {

  .panel;

  .tweet {

    display: flex;

    .tweet-sidebar-left {
      display: flex;
      padding: 10px;
      align-items: flex-start;
    }

    .tweet-body {
      flex-basis: 84%;
      padding: 10px;

      .tweet-subtext {
        display: flex;
        justify-content: space-between;
        color: @subtext-colour;
      }
    }

    .tweet-sidebar-right {
      flex-basis: 16%;
      width: 85px;
      padding: 10px;

      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: space-around;

      background-color: @panel-secondary-background;
      color: @subtext-colour;
      border-left: @panel-border;

      & > span {
        display: flex;
        align-items: center;
      }
    }

  }

  .tweet:not(:first-child) {
    border-top: @panel-border;
  }

}

