@text-colour: #878787;
@blue: #0b97c2;


body {
  padding-top: 30px;
}

h1, h2, h3, h4, h5, h6 {
  color: @text-colour;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  padding-top: 30px;
}

p {
  padding: 4px;
}

.splash-text {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  color: @text-colour;
  font-size: 32px;
  margin-top: 170px;
}

.hashtag {
  font-family: "Roboto Mono", "Consolas", "Lucida Console", "Courier New", monospace;
  color: @blue;
  font-weight: bold;
}

.classify-buttons-flex {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.view-on-twitter-button-flex {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  align-items: center;
  -webkit-align-items: center;
}

.recommendations {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  .recommendation-tile {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;

    background: white;
    border: 1px solid #E9E9E9;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08);

    .recommendation-middle {
      flex-basis: 40%;
      .recommendation-username {
        font-size: 1.5em;
      }
    }

    .recommendation-sparkline {
      margin-right: auto;
    }

    .recommendation-score {
      font-size: 1.8em;
      font-family: Roboto, Helvetica, sans-serif;
      color: @text-colour;
    }

  }

}

